# Core ML/Data Libraries
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
numpy==2.2.6
PyYAML==6.0.3
pillow==11.3.0
matplotlib==3.10.7
scipy==1.16.2
pandas

# Video Processing & PyTorchVideo
opencv-python==4.12.0.88 # For camera/video reading
pytorchvideo
av
iopath>=0.1.7,<=0.1.10

# Utility Libraries
tqdm==4.67.1
requests==2.32.5 # Might be needed for downloading models/data later
certifi==2.025.10.5
charset-normalizer==3.4.3
idna==3.7
urllib3==2.5.0
six==1.17.0
python-dateutil==2.9.0.post0
packaging==25.0
typing_extensions==4.15.0